body {
  margin: 0;
}

@media (min-width: 300px) and (min-height: 300px) {
  :root {
    --board-width: 280px;
    --grid-width: 300px;
  }
}

@media (min-width: 600px) and (min-height: 600px) {
  :root {
    --board-width: 560px;
    --grid-width: 600px;
  }
}

@media (min-width: 900px) and (min-height: 900px) {
  :root {
    --board-width: 840px;
    --grid-width: 900px;
  }
}

.flex {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #c09a9a;
}

.grid {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  height: var(--grid-width);
  width: var(--grid-width);
  z-index: 1;
}

.board {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(14, 1fr);
  background-color: rgb(158, 204, 171);
  height: var(--board-width);
  width: var(--board-width);
  border: 1px solid black;
}

.board-fr {
  border: 1px solid black;
}

.black {
  background: black;
  border-radius: 50%;
}

.white {
  background: white;
  border-radius: 50%;
}

.unset:hover {
  background: #c3c57a;
  opacity: 0.5;
  border-radius: 50%;
}
